<!DOCTYPE HTML>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta name="keywords" content="Trust-news, Trust news">
            <meta name="description" content="Trust-news">
            <title>Trust-news</title>
            <link rel="stylesheet" th:href="@{/css/news_in.css}">
            <link rel="stylesheet" th:href="@{/css/img}">
            <link rel="stylesheet" th:href="@{/css/font}">
        </head>
        <body>
            <div class="element1">
            </div>
            <div class="card_1">
                <img src="/css/img/phone.svg" class = "card_1_img1" alt="">
                <div class="card_1_textpol">
                    <img src="/css/img/logo_bank_2.svg" class = "card_1_textpol_card_1_img1" alt="">
                    <p class ="card_1_textpol_text">Начните свой путь в мире банковских операций вместе с нами!</p>
                </div>

               <div class="pos_button">
                <a  class="knopka" th:href="@{/start/news}">Перейти на страницу новостей</a>
                </div>
            </div>
        </body>
    </html>